html {
	overflow: hidden;
	height: 100%;
	width: 100%;
	background: rgba(240, 200, 255, 0.8);
}

.resizeGrip {
	background: lightblue;
	border: 1px solid blue;
	position: absolute;
}

#content {
	position: absolute;
	top:10px;
	bottom: 10px;
	left: 10px;
	right: 10px;
	padding: 10px;
	overflow: auto;
}

#resizeGripTop {
	height: 10px;
	top: 0;
	left: 10px;
	right: 10px;
	cursor: ns-resize;
}

#resizeGripBottom {
	height: 10px;
	bottom: 0;
	left: 10px;
	right: 10px;
	cursor: ns-resize;
}

#resizeGripLeft {
	width: 10px;
	left: 0;
	top: 10px;
	bottom: 10px;
	cursor: ew-resize;
}

#resizeGripRight {
	width: 10px;
	right: 0;
	top: 10px;
	bottom: 10px;
	cursor: ew-resize;
}

#resizeGripTopLeft {
	width: 10px;
	height: 10px;
	top: 0;
	left: 0;
	cursor: nwse-resize;
}

#resizeGripBottomLeft {
	width: 10px;
	height: 10px;
	bottom: 0;
	left: 0;
	cursor: nesw-resize;
}

#resizeGripTopRight {
	width: 10px;
	height: 10px;
	top: 0;
	right: 0;
	cursor: nesw-resize;
}

#resizeGripBottomRight {
	width: 10px;
	height: 10px;
	bottom: 0;
	right: 0;
	cursor: nwse-resize;
}